<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiguiquan.springcloud.alibaba.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.jiguiquan.springcloud.alibaba.domain.Account" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="used" property="used" jdbcType="DECIMAL" />
    <result column="residue" property="residue" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, total, used, residue
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jiguiquan.springcloud.alibaba.domain.Account" >
    insert into t_account (id, user_id, total, 
      used, residue)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{total,jdbcType=DECIMAL}, 
      #{used,jdbcType=DECIMAL}, #{residue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jiguiquan.springcloud.alibaba.domain.Account" >
    insert into t_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="residue != null" >
        residue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="used != null" >
        #{used,jdbcType=DECIMAL},
      </if>
      <if test="residue != null" >
        #{residue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiguiquan.springcloud.alibaba.domain.Account" >
    update t_account
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=DECIMAL},
      </if>
      <if test="residue != null" >
        residue = #{residue,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiguiquan.springcloud.alibaba.domain.Account" >
    update t_account
    set user_id = #{userId,jdbcType=BIGINT},
      total = #{total,jdbcType=DECIMAL},
      used = #{used,jdbcType=DECIMAL},
      residue = #{residue,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="decrease">
    update t_account
    set used = used + #{money,jdbcType=DECIMAL}, residue = residue - #{money,jdbcType=DECIMAL}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>